* {
	text-align: center;
}

#animate {
	width: 100px;
}
	
/*@keyframes move {
  from {
    position: relative;
    top: 50px;
    }
    to {
    position: 100px;
    }
*/
.move {
	margin: auto;
	padding: auto;
	position: relative;
	-webkit-animation: move 1s infinite alternate;
	width: 100px;
	height: 70px;
    
}

	
@-webkit-keyframes move {
    from {
    position: absolute;
    top: 50px;
    }
    to {
    position: 100px;
    }
}